.One_renobe{
  padding: 0;
}
.hz{
  color: ghostwhite;
  font-size: 32px;
  padding-top: 11px;
  padding-left: 20px;
}

.renobe_info{
  margin-top: 24px;
  margin-left: 24px;
}
.one_renobe_link{
  width: 220px;
}
.icons_description{
  color: ghostwhite;
}
.icons{
  color: rgba(161,161,170);
}
.icons_span{
  background-color: rgba(51,51,51);
  width: 36px;
  height: 36px;
  padding: 5px 7.8px;
  border-radius: 9999px
}
.icon_label{
  margin-bottom: 5px;
}

.icon_text{
  margin-left: 35px;
  color: rgba(161,161,170);
  margin-bottom: 18px;
  max-width: 285px;
}
.icon_text p{
  margin: 0;
}
.convert_label{
  color: #fb8c00;
  font-family: sans-serif;
  margin-top: 3px;
}
#hz{
  font-size: 12px;
}
#country_img{
  border-radius: 9999px;
  margin-left: 8px;
}
#country_p{
  display: inline;
  top: -5px;
  position: relative;
}
.description{
  padding: 0;
  color: #fb8c00;
  font-family: sans-serif;
}
.description hr{
  width: 50%;
  margin-left: 0;
  border-color: #fb8c00;
  border-radius: 5px;
}
#description_i{
  padding-left: 34px;
}

.one{
  color: ghostwhite;

}
.one hr{
  border-color: ghostwhite;
}
.renobe_description div {
  margin-top: 15px;
}
.renobe_title{
  max-width: none;
}
.chapter_list_container{
  max-width: 85%;
  border-radius: 10px 10px 0 0;
  margin: 30px auto;
  color: ghostwhite;
  border:gray 1px solid;
}
.chapter_title{
  padding: 15px;
  background: rgb(45, 45, 45);
  border-radius: 10px 10px 0 0;
}
.chapter_list{
  padding: 5px 0 10px 10px;
  border:gray 1px solid;
}
.list_clock{
  position: absolute;
  right: 9.5%;
}